* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  list-style-type: none;
}

.navbar {
  min-height: 10vh;
  background-color: rgb(121, 211, 211);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  color: black;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: rgb(121, 211, 211);
}
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
}
.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.todo i {
  z-index: 2;
}
